body {
    background-color: white;
  }
  h1 {
    color: rgb(255, 255, 255);
  }
  #rectangle{
    margin-left: 10%;
    width:1000px;
    height:500px;
    background: rgb(214, 129, 129);
}
  p {
    color: rgb(197, 241, 241);
    text-align: center;
    padding-top: 10%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-size: 40px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

